{% extends "base.html" %}
{% block content %}
<div class = "jumbotron jumbotron-fluid">
    <h1>Welcome to Innvotek's Inhouse Leave System </h1>
    <h2>Please Login with your username and password or register to obtain Login credentials</h2>
    <div class = "form-group">
    <form id="login-form" action="/login" method="post">>
        <h3>Login</h3>
        <button type="submit" class="btn btn-default">Proceed to Login</button>
    </form>


    <form id = "reg-form" action="/codecheck_rend" method = "post">
    <h3>Register</h3>
        <button type="submit" class="btn btn-default">Register</button>
    </form>
    </div>
</div>


{% endblock %}