{% extends "base.html" %}
{% block content %}
<div class = "jumbotron">

    <h1> Welcome {{ email }}</h1>
    <!--<h2> Days Remaining {{ days_rem_output }} </h2>-->
    <form action="/emp_info" method="post">
        <button name="InfoButton" class = "btn btn-info"  type="submit">ViewInfo</button>
    </form>


<form action="/logout" method="post">
<input type="submit" id="logout_btn" name="" value="Logout" style="position:absolute;left:1400px;top:10px;width:96px;height:25px;z-index:0;">
</form>
</div>
{% endblock %}



